@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@font-face {
  font-family: 'Dongle-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108_2@1.0/Dongle-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important;
}

.font-Dongle {
  font-family: 'Dongle-Bold' !important;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.textarea-none {
  border: none;
  outline: none;
  resize: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.overflow-s {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
}
.overflow-s::-webkit-scrollbar {
  display: none;
}
.overflow-y-s {
  overflow-y: scroll;
}

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-basis-0 {
  flex-basis: 0px;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-noWrap {
  flex-wrap: nowrap;
}
.justify-content {
  justify-content: center;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-space-around {
  justify-content: space-around;
}
.justify-content-space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.align-items-stretch {
  align-items: stretch;
}
.align-items-flex-end {
  align-items: flex-end;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

.ml-2 {
  margin-left: 2rem !important;
}
.mr-03 {
  margin-right: 0.3rem !important;
}
.mr-05 {
  margin-right: 0.5rem !important;
}
.mr-1 {
  margin-right: 1rem !important;
}
.mr-2 {
  margin-right: 2rem !important;
}
.mr-3 {
  margin-right: 3rem !important;
}
.mr-5 {
  margin-right: 5rem !important;
}
.mr-30px {
  margin-right: 30px !important;
}
.mt-0875 {
  margin-top: 0.875rem !important;
}
.mt-1 {
  margin-top: 1rem !important;
}
.mt-2 {
  margin-top: 2rem !important;
}
.mt-7 {
  margin-top: 7rem !important;
}
.mb-05 {
  margin-bottom: 0.5rem !important;
}
.mb-1 {
  margin-bottom: 1rem !important;
}
.mb-15 {
  margin-bottom: 1.5rem !important;
}
.mb-2 {
  margin-bottom: 2rem !important;
}
.mb-25 {
  margin-bottom: 2.5rem;
}
.mb-3 {
  margin-bottom: 3rem !important;
}
.mb-5 {
  margin-bottom: 5rem !important;
}
.mb-3px {
  margin-bottom: 3px !important;
}
.mb-7 {
  margin-bottom: 7rem !important;
}
.mx-5 {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}
.mx-auto {
  margin: 0 auto !important;
}
.my-15 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.my-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
.my-10px {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mxy-1 {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}


.p-025 {
  padding: 0.25rem !important;
}
.pl-1rem {
  padding-left: 1rem;
}
.pr-1rem {
  padding-right: 1rem;
}
.pt-15px {
  padding-top: 15px !important;
}
.pt-05 {
  padding-top: 0.5rem !important;
}
.pt-1 {
  padding-top: 1rem !important;
}
.pt-15 {
  padding-top: 1.5rem !important;
}
.pt-3 {
  padding-top: 3rem !important;
}
.pt-5 {
  padding-top: 5rem !important;
}
.pb-05 {
  padding-bottom: 0.5rem !important;
}
.pb-1 {
  padding-bottom: 1rem !important;
}
.pb-3 {
  padding-bottom: 3rem !important;
}
.pb-4 {
  padding-bottom: 4rem !important;
}
.pb-5 {
  padding-bottom: 5rem !important;
}
.px-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.px-1 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.px-2 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.px-13 {
  padding-left: 1.3rem !important;
  padding-right: 1.3rem !important;
}
.py-05 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py-10rem {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.py-10px {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pxy-05-15 {
  padding: .5rem 1.5rem !important;
}
.pxy-05-25 {
  padding: .5rem 2.5rem !important;
}
.pxy-03-12 {
  padding: 0.3rem 1.2rem;
}
.pxy-3-0 {
  padding: 3rem 0rem !important;
}
.pxy-3-1 {
  padding: 3rem 1rem !important;
}
.pxy-1 {
  padding-top: 1rem !important;
  padding-right: 1rem !important;
  padding-bottom: 1rem !important;
  padding-left: 1rem !important;
}
.pxy-2 {
  padding-top: 2rem !important;
  padding-right: 2rem !important;
  padding-bottom: 2rem !important;
  padding-left: 2rem !important;
}
.pxy-05 {
  padding-top: 0.5rem !important;
  padding-right: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 0.5rem !important;
}


.text-color {
  color: rgb(107 114 128) !important;
}
.text-color-000 {
  color: #000 !important;
}
.text-color-aa9bdd {
  color: #aa9bdd !important;
}
.text-color-7b517f {
  color: #7b517f !important;
}
.text-bold {
  font-weight: bold !important;
}
.text-100 {
  font-weight: 100 !important;
}
.text-300 {
  font-weight: 300 !important;
}
.text-400 {
  font-weight: 400 !important;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.text-s07 {
  font-size: .7rem !important;
}
.text-s0875 {
  font-size: .875rem !important;
}
.text-s1 {
  font-size: 1rem !important;
}
.text-s2 {
  font-size: 2rem !important;
}
.text-s3 {
  font-size: 3rem !important;
}
.text-s4 {
  font-size: 4rem !important;
}
.text-s5 {
  font-size: 5rem !important;
}
.text-s12 {
  font-size: 1.2rem !important;
}
.text-s15 {
  font-size: 1.5rem !important;
}
.text-s17 {
  font-size: 1.7rem !important;
}

.text-shadow-10 {
  text-shadow: 2px 2px 4px rgb(0 0 0 / 10%);
}
.text-shadow-70 {
  text-shadow: 2px 2px 4px rgb(0 0 0 / 70%);
}


.lspacing-1{
  letter-spacing: 1rem;
}
.lspacing-02{
  letter-spacing: 0.2rem;
}
.wspacing-05 {
  word-spacing: 0.5rem;
}

.lh-1 {
  line-height: 1rem;
}
.lh-25 {
  line-height: 2.5rem;
}
.lh-4 {
  line-height: 4rem;
}
.lh-12 {
  line-height: 1.2rem;
}
.lh-13 {
  line-height: 1.3rem;
}
.lh-15 {
  line-height: 1.5rem;
}
.lh-17 {
  line-height: 1.7rem;
}
.lh-2 {
  line-height: 2rem;
}

.border-a-white {
  border: 1px solid #fff;
}
.border-1-7b517f {
  border: 1px solid #7b517f !important;
}
.border-radius {
  border-radius: 5px;
}
.border-radius-1 {
  border-radius: 1rem;
}
.border-radius-2 {
  border-radius: 2rem;
}
.border-radius-30px {
  border-radius: 30px !important;
}
.border-radius-50p {
  border-radius: 50%;
}
.border-bottom-1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.radius-tlr-05 {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.radius-tlr-1 {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.radius-blr-1 {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.radius-tl-bl-1 {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.radius-tr-br-1 {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.top-10px {
  top: 10px;
}
.top-30px {
  top: 30px;
}
.right-10px {
  right: 10px;
}
.bottom-10px {
  bottom: 10px;
}
.z-index-1 {
  z-index: 1;
}

.white {
  color: white;
}

.width-205 {
  width: 2.5rem;
}
.width-3 {
  width: 3rem;
}
.width-4 {
  width: 4rem;
}
.width-12 {
  width: 12rem;
}
.width-25 {
  width: 25rem;
}
.width-40 {
  width: 40rem;
}
.width-10p {
  width: 10%;
}
.width-16p {
  width: 16%;
}
.width-35p {
  width: 35%;
}
.width-40p {
  width: 40%;
}
.width-50p {
  width: 50%;
}
.width-65p {
  width: 65%;
}
.width-70p {
  width: 70%;
}
.width-74p {
  width: 74%;
}
.width-80p {
  width: 80%;
}
.width-100p {
  width: 100%;
}
.width-40px {
  width: 40px;
}
.width-150px {
  width: 150px;
}

.height-205 {
  height: 2.5rem;
}
.height-4 {
  height: 4rem;
}
.height-40 {
  height: 40rem;
}
.height-100p {
  height: 100%;
}
.height-40vw {
  height: 40vw;
}
.height-40px {
  height: 40px;
}
.height-150px {
  height: 150px;
}
.min-height-40px {
  max-height: 40px;
}
.min-height-25rm {
  min-height: 25rem;
}
.max-height-40 {
  max-height: 40rem !important;
}
.max-height-50 {
  max-height: 50rem;
}
.max-height-30p {
  max-height: 30%;
}
.max-height-50p {
  max-height: 50%;
}
.max-height-70p {
  max-height: 70%;
}
.max-height-80p {
  max-height: 80%;
}
.max-height-350px {
  max-height: 350px;
}


.max-width-3 {
  max-width: 3rem;
}
.max-width-20 {
  max-width: 20rem;
}
.max-width-25 {
  max-width: 25rem;
}
.max-width-30 {
  max-width: 30rem !important;
}
.max-width-50 {
  max-width: 50rem !important;
}
.max-width-90 {
  max-width: 90rem !important;
}
.max-width-700 {
  max-width: 700px;
}
.max-width-900 {
  max-width: 900px;
}
.max-width-1000 {
  max-width: 1000px;
}
.max-width-1200 {
  max-width: 1200px;
}
.min-width-3rm {
  min-width: 3rem;
}
.min-width-20rm {
  min-width: 20rem;
}
.min-width-40px {
  min-width: 40px;
}
.min-width-250px {
  min-width: 250px;
}
.min-width-300px {
  min-width: 300px;
}

.cursor-p {
  cursor: pointer;
}

.bgWhite {
  background-color: #fff !important;
}
.bgBlac {
  background-color: #000 !important;
}
.bgNone {
  background: none;
}
.bg-gray-700 {
  background-color: rgb(55 65 81);
}
.bg-170-155-221 {
  background-color: rgb(170 155 221) !important;
}
.bg-123-81-127 {
  background-color: rgb(123 81 127) !important;
}

.bg-dot::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg_cover_dot.png) repeat 0 0;
}


.objectFit-contain {
  object-fit: contain;
}
.objectFit-cover {
  object-fit: cover;
}

.white-space-prew {
  white-space: pre-wrap;
}

.float-right {
  float: right;
}
.float-clear::after {
  content: '';
  display: block;
  clear: both;
}


.container {
  min-height: 100vh;
}


.box-shadow-0 {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}


/*----------------- header -----------------*/

#header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(107, 114, 128, .3);
  background-color: #fff;
  z-index: 99;
}

.header-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 1.3rem;
  height: 4rem;
}

.header-logo {
  margin-right: 4rem;
}

.m-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 1.3rem;
  position: relative;
}

.m-header-logo {
  margin-left: 2.5rem;
}

.m-header-acc {
  display: flex;
}

/*----------------- header -----------------*/


/*----------------- main -----------------*/

.swiper-bg {
  background: url(../images/bg01.jpg) top center no-repeat;
  background-size: cover;
}

.main-grid {
  display: grid;
  column-gap: 2.5rem;
  row-gap: 1.5rem;
  max-width: 80rem;
  grid-template-columns: repeat(3,minmax(0,1fr));
  justify-items: center;
}

.grid-hover {
  transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.grid-hover:hover {
  transform: scale(1.1);
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
}

/*----------------- main -----------------*/



/*----------------- communit -----------------*/

.swiper-button-next {
  background: url(../images/next.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.swiper-button-prev {
  background: url(../images/prev.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/*----------------- communit -----------------*/



/*----------------- account -----------------*/

.social-button {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 1rem;
  cursor: pointer;
  box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 20%);
}

.social-google {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
}
.social-facebook {
  background: #4867aa;
  color: #fff;
  border: 1px solid #4867aa;
}

/*----------------- account -----------------*/



/*----------------- communit -----------------*/

.bgDiv {
  width: 100%;
  height: 300px;
  background: url(../images/bg01.jpg) top center no-repeat;
  background-size: cover;
}

.css-igs3ac {
  border: none !important;
  outline: none !important;
}

.css-1v4ccyo {
  border-radius: 30px !important;
  background-color: #fff !important;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
}

/*----------------- communit -----------------*/



/*----------------- intro -----------------*/

.list-style-dot li {
  list-style: disc;
}

.css-ttwr4n {
  background-color: #7b517f !important;
}

/*----------------- intro -----------------*/



/*----------------- customer -----------------*/

.border-top-2-3c3c3c {
  border-top: 2px solid #3c3c3c;
}
.border-bottom-1-e2e2e2 {
  border-bottom: 1px solid #e2e2e2;
}
.pxy-17-10-19 {
  padding: 17px 10px 19px;
}
.pxy-13-19 {
  padding: 13px 19px;
}
.pxy-24-20-30 {
  padding: 24px 20px 30px;
}
.pxy-60-20 {
  padding: 60px 20px;
}
.color-3c3c3c {
  color: #3c3c3c;
}

.css-1omp2b7.Mui-selected {
  background-color: #7b517f !important;
}

/*----------------- customer -----------------*/



/*----------------- footer -----------------*/

.footer-border-t {
  border-top: 1px solid #fff;
}

/*----------------- footer -----------------*/